* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.font01 {
    font-family: "Ubuntu", sans-serif;
    font-size: 2rem;   /* tamanho reduzido */
    font-weight: 300;    /* bem mais fina */
}

/* Header NASA Style */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #000000, #001f36);
    padding: 10px 30px;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    height: 100px;
}

.left,
.right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.logo {
    height: 50px;
}

.link {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
}

.link:hover {
    color: #dbdbdb;
}

/* NASA+ Live */
.live span {
    background: red;
    color: white;
    font-size: 0.6rem;
    font-weight: 700;
    padding: 2px 4px;
    margin-left: 5px;
    border-radius: 2px;
}