<footer class="site-footer">
    <div class="footer-container">
        <div class="footer-about">
            <h4>About City Science</h4>
            <p>City Science is a platform dedicated to exploring sustainable urban development using NASA Earth observation data.</p>
        </div>
        <div class="footer-links">
            <h4>Quick Links</h4>
            <ul>
                <li><a href="{{ url_for('landingpage') }}">Home</a></li>
                <li><a href="#">Research & Updates</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('eco_explorer') }}">Eco-Explorer+</a></li>
            </ul>
        </div>
    </div>

</footer>
 