<header class="header">
    <div class="hamburger" id="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <!-- Sidebar -->
    <nav class="sidebar" id="sidebar">
        <div class="sidebar-links">
            <a href="{{ url_for('landingpage') }}"><i class="fas fa-home"></i> Home</a>
            <a href="{{ url_for('map_page') }}"><i class="fas fa-map"></i> Interactive Map</a>
            <a href="{{ url_for('create_bulletin_urban') }}"><i class="fas fa-pencil-alt"></i> Create Bulletin</a>
            <a href="{{ url_for('insights') }}"><i class="fas fa-lightbulb"></i> Weather Insights</a>
            <a href="{{ url_for('nerd') }}">Nerd Zone</a>
            <a href="{{ url_for('about') }}"><i class="fas fa-info-circle"></i> About</a>
        </div>
        <div class="sidebar-footer">
            <p>&copy; 2025 City Science</p>
            <a href="#">Privacy Policy</a>
        </div>
    </nav>

    <div class="center">
        <p class="font01" style="color: rgb(255, 255, 255);">City Science</p>
        <img src="{{ url_for('static', filename='assets/logo.png') }}" alt="City Science Logo" class="logo">
    </div>

    <div class="right">
        <a href="{{ url_for('nerd') }}" class="link">Nerd Zone</a>
        <a href="{{ url_for('about') }}" class="link">About</a>
        <a href="{{ url_for('map_page') }}" class="link live">Interactive Map+ <span>LIVE</span></a>
    </div>
</header>
