<div class="eco-layout">
    <header class="eco-header">
        <nav class="eco-nav">
            <a href="{{ url_for('landingpage') }}" class="eco-tab active" data-tab="home"><i class="fas fa-home"></i> Home</a>
            <a href="{{ url_for('map_page') }}" class="eco-tab" data-tab="map"><i class="fas fa-map"></i> Interactive Map</a>
            <a href="{{ url_for('game') }}" class="eco-tab" data-tab="kids"><i class="fas fa-child"></i> Eco-game</a>
            <a href="#" class="eco-tab" data-tab="insights"><i class="fas fa-lightbulb"></i> Insights</a>
            <a href="{{ url_for('about') }}" class="eco-tab" data-tab="about"><i class="fas fa-info-circle"></i> About</a>

            <div class="eco-underline" aria-hidden="true"></div>
        </nav>
    </header>
</div>